.ideas__strook{
    margin-top: 65px;
}
.ideas__title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 42px;
    line-height: 125%;
    text-align: center;
    color: #000;
}
.ideas__discription{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 129%;
    text-align: center;
    color: #000;
    margin-top: 16px;
}
.ideas__text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #000;
    align-items: center;
}
.ideas__phon{
    display: flex;
    margin-top: 56px;
    gap: 35px;
}
.basem__item{
    list-style: none;
    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-transform: capitalize;
    color: #000;
    width: 109px;
    height: 28px;
    margin: 74px 620px;
    
}
@media(max-width:1000px){
    .ideas__phon{
        flex-wrap: wrap;
    }
    .basem__item{
        display: flex;
        margin-left: 70px;
    }
   
}
@media(max-width:662px){
    .idea__img{
        width: 370px;
        height: 230px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .ideas__title{
        font-size: 35px;
        margin-right: 20px;
        margin-left: 20px;
    }
}